<div class= "container">
  <div class= "row pt-5">
    <div class= "col text-center">
      <h1 class= "display-3 font-weight-bold">About</h1>
      <h4>
        ノミタビは、気になる居酒屋を見つけたり、<br>
        自分のおすすめの居酒屋を投稿したりできるサイトです。
      </h4>
    </div>
  </div>

  <div class= "row py-5">
    <div class= "col">
      <%= image_tag "izakaya1.jpg", alt: "居酒屋画像", class: "card-img", size: "450x400" %>
    </div>
  </div>
</div>