<div class= "container">
  <div class= "row py-5">
    <div class= "col">
      <div class= "card">
        <%= image_tag "izakaya1.jpg", alt: "居酒屋画像", class: "card-img", size: "500x450" %>
        <div class= "card-img-overlay d-flex align-items-center justify-content-center">
          <h1 class= "text-info bg-white">
            ノミタビへようこそ！
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

